@charset "UTF-8";
body{
    font-size:20px;
}

.site-header .site-title {
    -ms-flex-negative: 0;
    flex-shrink: 0;
}


.site-header .site-title {
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.panel-default {
    border-color: #ddd;
}

.panel {
    margin-bottom: 20px;
    background-color: #e1e1e1;
    color:#444951;
    border: 2px solid #444951;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-title {
    margin:20px 0;
    font-size: 22px;
    text-align: center;
}
.site-title {
    width: 107px;
    height: 73px;
    background: linear-gradient(160deg,#e1e1e1,#fff 90%);
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    -webkit-box-shadow: 0 0 7px 0 rgba(0,0,0,.27);
    box-shadow: 0 0 7px 0 rgba(0,0,0,.27);
    position: relative;
    z-index: 9999;
    text-transform: lowercase;
    text-align: center;
    font-size: 16px;
    color: #444951;
}

.site-title a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
}

.gray-color {
    background-color: #444951;
    color: #fff;
    margin-right: 20px;
    width: 100%;

}

.bold-view{
    font-weight: bold;
}
.site-title a:before {
    background-image: url(../img/icon.png);
    background-repeat: no-repeat;
    background-size: 35px 30px;
    width: 33px;
    height: 33px;
    display: block;
    content: "";
    margin: 10px auto 3px;
}

.site-header .wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 30px;
    height: inherit;
}

.site-header {
    display: block;
    width: 100%;
    height: 60px;
    background: #444951;
    position: relative;
    margin: 0 0 60px;
}

.list-view, .icon-view{
    padding: 10px;
    background-color:#444951;
    border-radius: 5px;
    color: #fff;
}

#change-view{
    padding: 10px;
    background-color:#444951;
    border-radius: 5px;
    color: #fff;
}

button{
   margin-top:40px;
}

.col-sm-7{
    margin-left: 40px;
    padding: 25px;
}

.col{
    padding: 25px;
}

#rate{
    border-radius: 5px;
}

